<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

        <div class="container">
            <div class="row gy-4 justify-content-center justify-content-lg-between">
                <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Fit Your Life,<br> Anytime, Anywhere.</h1>
                    <p data-aos="fade-up" data-aos-delay="100"> Life gets busy, and not everyone has the time,
                        motivation, or access to a gym. So we created an online gym that brings fitness to your
                        doorstep.</p>

                </div>
                <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                    <img src="c:\Users\rahma\Downloads\logo.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>About Us<br></h2>
            <p><span>Learn More</span> <span class="description-title">About Us</span></p>
        </div><!-- End Section Title -->

        <div class="container">


            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">

                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Our workouts are designed by professionals to
                                cater to all fitness levels, whether you're a beginner or an experienced athlete.</span>
                        </li>
                        <li><i class="bi bi-check-circle-fill"></i> <span> Our team of certified trainers is dedicated
                                to guiding and motivating you.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Say goodbye to long commutes. Access your
                                workouts from any device, anywhere in the world.</span></li>
                    </ul>
                    <p>
                        Our online gym platform offers a diverse range of workout programs, expert coaching, and
                        personalized plans—all designed to help you achieve your fitness goals from the comfort of your
                        own home.
                    </p>
                    
                </div>
            </div>
        </div>

        </div>

    </section><!-- /About Section -->




    <section class="p-5" style="background-color: rgb(244 244 244);" id="elementsSearchList">
        <div class="container-lg">
            <h3 class="text-center mt-4">Our Popular Diets</h3>
            <p class="text-center mb-4">"Find Your Ideal Diet to Elevate Your Work Experience" </p>
            <div class="card mb-4 w-100">
                <div class="card-body w-100">
                    <div class="row">
                        <div class="col-4">
                            <div class=" form-group mb-3 w-100">
                                <input class="form-control form-control-clicked" id="dietSearchInput" type="text"
                                    placeholder="Search For Diet...">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group mb-3 w-100">
                                <input class="form-control form-control-clicked" id="weightSearchInput" type="text"
                                    placeholder="Search with weight...">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group mb-3 w-100">
                                <input class="form-control form-control-clicked" id="ageSearchInput" type="number"
                                    placeholder="Search with age...">
                            </div>
                        </div>

                        <div class="col-4">

                            <div class="form-group mb-3">
                                <select class="form-control" id="bpSearchInput" aria-label="Default select example">
                                    <option selected>Select Blood Pressure</option>
                                    <option value="50-100">50-100</option>
                                    <option value="100-130">100-130</option>
                                    <option value="130-150">130-150</option>
                                    <option value="150-170">150-170</option>
                                    <option value="170-200">170-200</option>
                                    <option value="Above 200">Above 200 </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-4">


                            <div class="form-group mb-3">
                                <select class="form-control" id="flexibilitySearchInput"
                                    aria-label="Default select example">
                                    <option selected>Select Flexibility</option>
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">

                            <div class="form-group mb-3">
                                <select class="form-control" id="strengthSearchInput"
                                    aria-label="Default select example">
                                    <option selected>Select Muscular Strength</option>
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">


                            <div class="form-group mb-3">
                                <select class="form-control" id="compositionSearchInput"
                                    aria-label="Default select example">
                                    <option selected>Select Body Composition</option>
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">


                            <div class="form-group mb-3">
                                <select class="form-control" id="heartSearchInput" aria-label="Default select example">
                                    <option selected>Select Heart Rate</option>
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>

                        <div class="d-flex gap-2">
                            <button onclick="elementsSearch()" class="btn btn-dark"><i
                                    class="bi bi-search"></i></button>
                            {{!-- <a href="" class="btn btn-dark"><i class="bi bi-sort-alpha-down"></i></a>
                            --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 " id="productList">
            <!-- Single Top Product Card -->
            {{#each diets}}
            <div class="col-6 col-sm-4 col-lg-4">
                <a href="/single-diet/{{this._id}}">
                    <div class="card single-product-card">
                        <div class="card-body p-3">
                            <!-- Product Thumbnail -->
                            <a class="product-thumbnail d-block" href="#!">
                                <img src="/images/diet-images/{{this._id}}.png" class="mb-3" width="50%" alt="">
                                <!-- Badge -->
                            </a>
                            <!-- Product Title -->
                            <a class="product-title d-block text-truncate" href="#!">{{this.dietname}}</a>
                            <!-- Product Price -->
                            <p class="sale-price">Rs.{{this.Price}}/- </p>
                            <p>{{this.desc}}</p>
                            <hr>

                            <p class="mb-0">For Age : {{this.dage}}</p>
                            <p>For Weight : {{this.dweight}}</p>

                            <div style="display: none;">
                                {{this.dbp}} <br>
                                {{this.dflexibility}} <br>
                                {{this.dstrength}} <br>
                                {{this.dcomposition}} <br>
                                {{this.dheart}} <br>
                            </div>



                            <a href="/single-diet/{{this._id}}" class="btn btn-creative btn-dark btn-sm ct-btn">View
                                Details</a>

                            <button class="btn btn-creative btn-dark btn-sm ct-btn buy-now" data-id="{{this._id}}"
                                data-seats="{{this.seat}}">Buy Now</button>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}




        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const buyNowButtons = document.querySelectorAll('.buy-now');

                buyNowButtons.forEach(button => {
                    const seatsAvailable = parseInt(button.getAttribute('data-seats'), 10);

                    if (seatsAvailable === 0) {
                        button.disabled = true; // Disable the button if sold out
                        button.textContent = 'Sold Out'; // Change the button text
                        button.classList.add('disabled'); // Optionally add a disabled class for styling
                    } else {
                        button.addEventListener('click', function () {
                            buyNow(button.getAttribute('data-id')); // Call the buyNow function
                        });
                    }
                });
            });

            function buyNow(dietId) {
                // Your buy now logic here, for example:
                alert('Buying diet with ID: ' + dietId);
                // Implement your purchase logic (e.g., make an API call)
            }
        </script>

        <script>

            function elementsSearch() {
                const dietName = $('#dietSearchInput').val();
                const weight = $('#weightSearchInput').val();
                const age = $('#ageSearchInput').val();

                const bp = $('#bpSearchInput').val();
                const flexibility = $('#flexibilitySearchInput').val();
                const strength = $('#strengthSearchInput').val();
                const composition = $('#compositionSearchInput').val();
                const heart = $('#heartSearchInput').val();


                $.get(`/api/search?dietName=${dietName}&weight=${weight}&age=${age}&bp=${bp}&flexibility=${flexibility}&strength=${strength}&composition=${composition}&heart=${heart}`, function (data) {
                    $('#productList').empty();

                    if (data.length === 0) {
                        $('#productList').append('<p class="no-results">No diets found matching your criteria</p>');
                        return;
                    }

                    data.forEach(diet => {
                        $('#productList').append(`
        <div class="col-6 col-sm-4 col-lg-4">
            <a href="/single-diet/${diet._id}">
                <div class="card single-product-card">
                    <div class="card-body p-3">
                        <!-- Product Thumbnail -->
                        <a class="product-thumbnail d-block" href="#!">
                            <img src="/images/diet-images/${diet._id}.png" class="mb-3" width="50%" alt="">
                        </a>
                        <!-- Product Title -->
                        <a class="product-title d-block text-truncate" href="#!">${diet.dietname}</a>
                        <!-- Product Price -->
                        <p class="sale-price">Rs.${diet.Price}/- </p>
                        <p>${diet.desc}</p>
                        <hr>

                        <p class="mb-0">For Age: ${diet.dage}</p>
                        <p>For Weight: ${diet.dweight}</p>

                         <div style="display: none;">
                                {{this.dbp}} <br>
                                {{this.dflexibility}} <br>
                                {{this.dstrength}} <br>
                                {{this.dcomposition}} <br>
                                {{this.dheart}} <br>
                            </div>

                        <a href="/single-diet/${diet._id}" class="btn btn-creative btn-dark btn-sm ct-btn">View Details</a>

                        <button class="btn btn-creative btn-dark btn-sm ct-btn buy-now" 
                                data-id="${diet._id}" data-seats="${diet.seat}">Buy Now</button>
                    </div>
                </div>
            </a>
        </div>
    `);
                    });

                });
            }

            // Attach the search event
            $('#searchButton').on('click', elementsSearch);
        </script>

        <script>
            function buyNow(dietId) {
                window.location.href = '/place-order/' + dietId;
            }

        </script>
        </div>
    </section>


 


    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p><span>Need Help?</span> <span class="description-title">Contact Us</span></p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">



            <div class="row gy-4">

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                        <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>North karassery, Mukkam, Calicut 673602</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                        <i class="icon bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>+91 9584756321</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                        <i class="icon bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>shefit123@gmail.com</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                        <i class="icon bi bi-clock flex-shrink-0"></i>
                        <div>
                            <h3>Opening Hours<br></h3>
                            <p><strong>Anytime</strong> Everywhere<strong></p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

            </div>


        </div>

    </section><!-- /Contact Section -->

</main>

<footer id="footer" class="footer dark-background">

    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Address</h4>
                    <p>North karassery</p>
                    <p>Mukkam, Calicut 673602</p>
                    <p></p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>Contact</h4>
                    <p>
                        <strong>Phone:</strong> <span>+91 9584756321</span><br>
                        <strong>Email:</strong> <span>shefit123@gmail.com</span><br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Opening Hours</h4>
                    <p>
                        <strong>Anytime</strong> <span>Everywhere</span><br>
      
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4>Follow Us</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    {{!-- <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div> --}}

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>