<div class="page-content-wrapper mt-5 py-3"><br><br>
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <div class="card product-details-card mb-3">
                    <div class="card-body">
                        <div class="product-gallery-wrapper">
                            <div class="product-gallery"><a href="/images/diet-images/{{diet._id}}.png"><img
                                        class="rounded" src="/images/diet-images/{{diet._id}}.png" alt=""
                                        width="100%"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card product-details-card mb-3 direction-rtl">
                    <div class="card-body">
                        <h3>{{diet.dietname}}</h3>
                        <p>{{diet.desc}}</p>

                        <p>Rs.{{diet.Price}}/-</p>







                        <div class="input-group">
                            <button class="btn btn-dark w-100 mt-4" onclick="buyNow('{{diet._id}}')">Book
                                Now</button>
                        </div>
                    </div>
                </div>
                <div class="card product-details-card mb-3 direction-rtl">
                    <div class="card-body">
                        <h5>Diet For</h5>
                        <ul>
                            <li><b>Age : </b>{{diet.dage}} </li>
                            <li><b>Weight : </b>{{diet.dweight}} </li>
                            <li><b>Bp : </b>{{diet.dbp}} </li>
                            <li><b>Flexibility : </b>{{diet.dflexibility}} </li>
                            <li><b>Strength : </b>{{diet.dstrength}} </li>
                            <li><b>Composition : </b>{{diet.dcomposition}} </li>
                            <li><b>Heart Rate : </b>{{diet.dheart}} </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
</div>

<script>
    function buyNow(dietId) {
        window.location.href = '/place-order/' + dietId;
    }

</script>